<!-- <div class="currency-selector" *ngIf="currencies"> -->
    <!-- <p class="currency-selector"> -->
        <!-- <mat-form-field appearance="fill" floatLabel="never" class ="form-currency" > -->
      <!-- <mat-label i18n="@@currency">Currency</mat-label> -->
      
      <!-- <mat-select  (selectionChange)="setGlobalCurrency()" [(value)]="selectedCurrency" disableOptionCentering>
        <mat-select-trigger>
        {{selectedCurrency.code}}
      </mat-select-trigger> -->
  <!-- 
       type="text" [(ngModel)]="selectedCurrency" 
      (change)="setGlobalCurrency($event.target.value)"
      matInput [formControl]="myControl" [matAutocomplete]="auto" [displayWith]="displayFn">
        <mat-autocomplete #auto="matAutocomplete" >    -->
           
          <!-- <mat-option  *ngFor="let currency of currencies; let i = index" [value]="currency"> -->
            <!-- <mat-divider *ngIf="i==5"></mat-divider>  -->
            <!-- <hr *ngIf="i==6">
          {{currency.code}} {{currency.name}}
         
          </mat-option>
        </mat-select> -->
    <!-- </mat-form-field> -->
    <!-- <span class = "spacer"></span> -->
  <!-- </div> -->
  <!-- <div class="locale-selector" > -->
<!-- </p> -->
<!-- <p class="locale-selector" > -->
        <!-- <mat-form-field appearance="fill" floatLabel="never" class="form-locale">
          <mat-select-trigger>
            <span class="flag-icon flag-icon-{{selectedLocale.flag}}"></span>
          </mat-select-trigger> 
        <mat-select  (selectionChange)="setNewLocale()" [(value)]="selectedLocale" 
        style="width:10px" disableOptionCentering >
    
          <mat-option   *ngFor="let locale of localesList" [value]="locale">
              <span class="flag-icon flag-icon-{{locale.flag}}"></span><span class="spacer"></span> {{locale.label}}
            </mat-option>
        </mat-select>
    </mat-form-field> -->
<!-- </p> -->
  <!-- </div> -->
  
