@import "../../../cheapTripStyles/styles.scss";
:host {
  width: 100%;
  position: relative;
  height: auto;
}
* {
  margin: 0;
  padding: 0;
}

p span.type {
  color: $base-blue;
}
p span.points {
  font-style: oblique;
  font-weight: bold;
}
p span.points:after {
  content: " -> ";
}

p span.points:last-child:after {
  content: "";
}

@media screen and (max-width: 650px) {
  section {
    width: 100%;
    background-color: rgba(42, 218, 182, 0.2);
    height: auto;
    mat-accordion {
      width: 100%;
      height: inherit;
      mat-expansion-panel {
        padding: 0;
        .mat-expansion-panel-header-title {
          flex-basis: 20%;
        }
        .mat-expansion-panel-header-description {
          flex-basis: 70%;
        }
        div.details{
          padding: 1rem 0;
        border-top: 5px solid $base-light;
          p{
             display: flex;
             span.spacer {
               flex: 1 1 auto;
             }
             span:last-child{
               color: $accent-dark;
               font-weight: bold;
             }

          }
         
        }
        mat-expansion-panel-header {
          //  align-items: stretch !important;
          height: auto !important;
          //   width: 100%;
          mat-panel-title {
            div.icons {
              display: flex;
              @include boxSizing(border-box);
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border-right: 1px solid $base-light;
              span {
                padding: 0.5rem 1rem;
                color: $base-dark;
                span.material-icons {
                  color: $base-dark;
                }
              }
            }
          }
          mat-panel-description {
            div.description {
              p:first-child {
                color: $base-dark;
              }
              p.time {
                display: flex;
                align-items: flex-end;

                .spacer {
                  flex: 1 1 auto;
                }
              }
            }
          }
        }
      }
    }
    
  }
}
