@import "../../cheapTripStyles/styles.scss";

div.mainContainer {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: auto;
  position: relative;
  justify-content: stretch;
  align-items: flex-start;

  mat-spinner {
    margin: auto;
  }

  div.aside {
    flex-basis: 49%;
    flex-grow: 1;
  }
  div.map {
    flex-basis: 50%;
    display: flex;
    justify-content: space-around;
  }
}
@include Large {
  div.map {
    // background-color: rgb(0, 255, 106);
  }
}

@include Medium {
  div.mainContainer {
    top: 2rem;
    width: 95%;
    height: auto;
    margin: auto;
    div.map {
      //  align-self: stretch;
      height: auto;
      // background-color: red;
      display: flex;
      justify-content: space-around;
    }
  }
}

@include Small {
  div.mainContainer {
    top: 2rem;
    flex-direction: column;
    width: 95%;
    height: auto;
    margin: auto;
    justify-content: flex-start;
    align-items: baseline;
    margin: auto;
    div.aside {
      align-self: stretch;
    }
    div.map {
      align-self: stretch;
      height: auto;
      //   background-color: red;
      display: flex;
      justify-content: space-around;
    }
  }
}

@include XSmall {
  div.mainContainer {
    top: 2rem;
    flex-direction: column;
    width: 98%;
    height: auto;
    margin: auto;
    justify-content: flex-start;
    align-items: baseline;

    div.aside {
      align-self: stretch;
    }
    div.map {
      align-self: stretch;
      height: auto;
      //  background-color: green;
      display: flex;
      justify-content: space-around;
    }
  }
}
@include Phones {
  div.mainContainer {
    top: 2rem;
    flex-direction: column;
    width: 98%;
    height: auto;
    margin: auto;
    justify-content: flex-start;
    align-items: baseline;

    div.aside {
      align-self: stretch;
    }
    div.map {
      align-self: stretch;
      height: auto;
      //   background-color: blue;
      display: flex;
      justify-content: space-around;
    }
  }
}

@include Smallphones {
  div.mainContainer {
    top: 0.5rem;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: flex-start;
    align-items: baseline;
    div.aside {
      align-self: stretch;
    }
    div.map {
      align-self: stretch;
      height: auto;
      // background-color: yellow;
      display: flex;
      justify-content: space-around;
    }
  }
}
