@import "../../cheapTripStyles/styles.scss";

div.mainContainer {
  display: flex;
}

@include desktop {
  div.mainContainer {
    flex-direction: row;
    width: 80%;
    height: auto;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;

    div.aside {
      flex-basis: 33%;
    }
    div.map {
      position: relative;
      flex-basis: 65%;

      height: auto;

    }
  }
}

@include phones {
  div.mainContainer {
    flex-direction: column;

    div.aside {
      //flex-basis: 100%;
      background-color: lawngreen;
      align-self: stretch;
    }
    div.map {
      flex-basis: 100%;

    }
  }
}
