@import "../../../cheapTripStyles/styles.scss";

* {
  margin: 0;
  padding: 0;
}

div.mainContainer {
  width: 100%;
  margin: auto;
  height: auto;
  form {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div.formInfo {
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      mat-form-field {
        width: 45%;
        @include borderRad(5px);
        @include boxSizing(border-box);
        border-left: 3px solid $base-dark;
        padding: 5px;
        input {
          @include placeholder(red, 1rem, normal, cursive);
        }
      }
      span {
        color: $base-dark;
      }
    }
    div.actions {
      margin-top: 1rem;
      button {
        margin: 0 2rem;
      }
    }
  }
  p {
    text-align: center;
    position: relative;
    font-family: "Lobster", cursive;
    color: $base-dark;
  }
}

/* @media screen and (max-width: 641px) and (orientation: landscape) {
  div.mainContainer {
    p {
      font-size: 1.5rem;
      line-height: 150%;
      margin-bottom: 2rem;
    }
    form {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      box-sizing: border-box;
      div.actions {
        button {
          margin: 1rem;
        }
      }
    }
  }
} */
@media screen and (max-width: 640px) {
  div.searchMode {
    p {
      box-sizing: border-box;
      width: 95%;
      margin: 2rem auto;
      text-align: center;
      font-size: 1.5rem;
      line-height: 150%;
    }
    form {
      width: 100%;
      div.formInfo {
        height: auto;
        flex-direction: column;
        mat-form-field {
          width: 95%;
          margin: auto;
        }
        span {
          width: 1.5rem;
          align-self: center;
          justify-self: baseline;
          text-align: center;
          transform: rotate(90deg);
        }
      }
    }
  }

  div.deliveryMode {
    p {
      display: none;
    }
    form {
    //  box-sizing: border-box;
      flex-direction: column;

      div.formInfo {
        width: 98%;
        margin: auto;
        position: relative;
        mat-form-field {
          width: 170px !important;
          position: relative;
          border-left: none;
        }
        span {
          position: absolute;
          top: 20px;
          left: 180px;
          z-index: 10;
          color: $base-dark;
        }
      }
    }
  }
}

@media screen and (min-width: 641px) {
  div.mainContainer,
  div.searchMode {
    p {
      box-sizing: border-box;
      width: 70%;
      margin: 2rem auto;
      text-align: center;
      font-size: 2rem;
      line-height: 150%;
    }

    form {
      width: 100%;
    
      div.formInfo {
        height: auto;
        display: flex;
        flex-direction: row;
        width: 70%;
        margin: auto;
        box-sizing: border-box;
        mat-form-field {
          background-color: rgb(219, 224, 223, 0.2);
          margin: 0 auto;
          padding: 0.5rem;
          border-radius: 5px;
          box-sizing: border-box;
          width: 95%;
          margin: auto;
        }
        span {
          width: 3rem;
          align-self: center;
          justify-self: baseline;
          text-align: center;
        }
      }
      div.actions {

       
      }
    }
  }

  div.deliveryMode {
    p {
      display: none;
    }
    form {
      margin: 2rem;
    }
  }
}
