* {
  margin: 0;
  padding: 0;
}

div.mainContainer {
  width: 95%;
  margin: auto;
  height: auto;
  form{
    width: 100%;
    margin: auto;
    display: flex;
  }
  p {
    text-align: center;
    position: relative;
    font-family: "Lobster", cursive;
    color: blue;
  }
}

@media screen and (max-width: 650px) and (orientation: landscape) {
  div.mainContainer {
    p{
      font-size: 0.6rem;
    }
    form {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      box-sizing: border-box;
      mat-form-field {
        background-color: rgb(219, 224, 223, 0.2);
        width: 45%;
        border-radius: 5px;
        box-sizing: border-box;
      }
      button {
        margin: 1rem;
      }
    }
  }
}
@media screen and (max-width: 599px) and (orientation: portrait) {
  div.searchMode {

    p {
      box-sizing: border-box;
      width: 95%;
      margin: 2rem auto;
      text-align: center;
      font-size: 1.5rem;
      line-height: 150%;
    }
    form {
      width: 100%;
      flex-direction: column;
      div.formInfo {
        height: auto;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        mat-form-field {
          background-color: rgb(219, 224, 223, 0.2);
          margin: 0 auto;
          padding: 0.5rem;
          border-radius: 5px;
          box-sizing: border-box;
          width: 95%;
          margin: auto;
        }
        span {
          width: 1.5rem;
          align-self: center;
          justify-self: baseline;
          text-align: center;
          transform: rotate(90deg);
        }
      }
      div.actions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }

  div.deliveryMode {
    p {
      display: none;
    }
    form {
      box-sizing: border-box;
      margin: 0.5rem auto;
      flex-direction: row;
      div.formInfo {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        justify-content: center;
        position: relative;
        width: 100%;
        margin: auto;
        mat-form-field {
          background-color: rgb(219, 224, 223, 0.2);
          width: 180px !important;
          input {
            padding-left: 1rem !important;
          }
        }
        span {
          position: absolute;
          border-radius: 50%;
          top: 1.5em;
          z-index: 10;
          color: cornsilk;
          background-color: blue;
          padding: 0.5rem;
          box-sizing: border-box;
        }
      }
      div.actions {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  div.mainContainer,
  div.searchMode {
    p {
      box-sizing: border-box;
      width: 70%;
      margin: 2rem auto;
      text-align: center;
      font-size: 1.5rem;
      line-height: 3rem;
    }

    form {
      width: 100%;
      div.formInfo {
        height: auto;
        display: flex;
        flex-direction: row;
        width: 70%;
        margin: auto;
        box-sizing: border-box;
        mat-form-field {
          background-color: rgb(219, 224, 223, 0.2);
          margin: 0 auto;
          padding: 0.5rem;
          border-radius: 5px;
          box-sizing: border-box;
          width: 95%;
          margin: auto;
        }
        span {
          width: 3rem;
          align-self: center;
          justify-self: baseline;
          text-align: center;
        }
      }
      div.actions {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }

  div.deliveryMode {
    p {
      display: none;
    }
    form {
      margin: 2rem;
    }
  }
}
