@import "../../../cheapTripStyles/styles.scss";

* {
  margin: 0;
  padding: 0;
}

div.mainContainer {
  width: 80%;
  margin: auto;
  height: auto;
  box-sizing: border-box;
  position: relative;
  div.message {
    margin: 0;
    padding: 0;
    color: var(--color-accent);
    p {
      text-align: center;
      font-family: "Dosis", sans-serif;
      margin: 3rem auto;
      font-size: 3rem;
      line-height: 2rem;
    }
    div {
      position: relative;
      p:last-of-type {
        font-size: 2rem;
      }
    }
  }

  form {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    div.formInfo {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      section {
        width: 45%;
        p.error {
          color: var(--color-warn);
          font-style: italic;
          padding-left: 3rem;
        }
        mat-form-field {
          width: 100%;
          @include boxSizing(border-box);
          border-left: 3px solid var(--color-accent);
          padding-left: 0.5rem;

          input {
            @include placeholder(var(--color-primary), 2rem, normal, cursive);
          }
        }
        mat-form-field.valid {
          border-color: var(--color-accent);
        }

        mat-form-field.invalid {
          border-color: var(--color-warn);
        }
        span.arrows {
          color: var(--color-primary);
          cursor: pointer;
        }
      }
    }
    div.actions {
      height: 5rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      button {
        width: 6rem;
        margin: 0 2rem;
      }
    }
  }
}

div.deliveryMode {
  div.message {
    p {
      display: none;
    }
    p:first-child {
      display: block;
      font-size: 2rem;
    }
  }
  form {
    div.actions {
      align-items: flex-start;
      height: 2.5rem;
    }
  }
}

@include Large {
  div.mainContainer {
    form {
      div.actions {
        margin-top: 1rem;
      }
    }
  }

  div.deliveryMode {
    form {
      div.actions {
        margin: 1rem auto;
      }
    }
  }
}
@include Small {
  div.mainContainer {
    width: 90%;

    p {
      margin: 2rem auto;
    }
  }
}

@include Phones {
  div.searchMode {
    margin: auto;
    width: 98%;
    div.message {
      p {
        display: block;
        width: 90%;
        margin: auto;
        font-size: 1.5rem;
      }
      div {
        p:last-of-type {
          font-weight: normal;
          line-height: 150%;
          font-size: 1rem;
        }
      }
    }

    form {
      position: relative;
      top: -0.5rem;
      width: 100%;
      flex-direction: column;
      div.formInfo {
        flex-direction: column;
        height: auto;
        flex-direction: column;
        section {
          width: 100%;
          mat-form-field {
            margin: auto;
            position: relative;
            padding-left: 0.4rem;
          }
          mat-form-field.startPoint {
            top: 0.5rem;
          }
          mat-form-field.endPoint {
            top: -0.5rem;
          }
        }
        span.arrows {
          width: 1.5rem;
          align-self: center;
          justify-self: baseline;
          text-align: center;
          transform: rotate(90deg);
          color: var(--color-accent);
        }
      }
      div.actions {
        height: auto;
        align-items: flex-start;
      }
    }
  }

  div.deliveryMode {
    width: 100%;
    margin: 5px auto;
    div.message {
      display: none;
    }

    form {
      div.actions {
        margin: 0;
      }
      div.formInfo {
        width: 98%;
        margin: 0.5rem auto 0;
        position: relative;

        mat-form-field {
          position: relative;
          border-left: none;
        }
        span {
          font-size: 0.9rem;

          color: var(--color-accent);
        }
      }
    }
  }
}
