<!-- <app-currency-selector></app-currency-selector> -->
<div class="mainContainer" [ngClass]="{'searchMode': mode === modes.SEARCH,
'deliveryMode': mode === modes.DELIVERY}">
  <div class="message">
    <h1 class="LongSlogan" i18n="Long slogan@@longslogan" @insertRemoveTrigger1>Find most beneficial and unusual routes
      between cities with airports,
      combining flight, train, bus, ferry and rideshare.</h1>

  </div>
  <form [formGroup]="directionForm" novalidate (ngSubmit)="onSubmit()">
    <div class="formInfo">
      <section>
        <div class="input">
          <mat-form-field class="startPoint"
                          [class.valid]="directionForm.get('startPointControl').valid && directionForm.get('startPointControl').touched"
                          [class.invalid]="directionForm.get('startPointControl').invalid && directionForm.get('startPointControl').touched">
            <!--   <input (focusout)="onFocusOut($event)" (input)="onInput($event.target.value, 'from')" type="text" -->
            <input type="text"
                   placeholder="From" i18n-placeholder aria-label="Number" matInput formControlName="startPointControl"
                   [matAutocomplete]="auto1" #startPointInput>

            <mat-autocomplete class="single-autocomplete" #auto1="matAutocomplete">
              <!--    <mat-autocomplete #auto1="matAutocomplete"  >-->
              <mat-option (click)="onStartSelectOption(start)" *ngFor="let start of startFilteredLocations | async"
                          [value]="start.name">
                {{start.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <span class="material-icons" (click)="clearStartPointControl()">
           clear
          </span>
          <!--   <p *ngIf="directionForm.get('startPointControl').invalid && directionForm.get('startPointControl').touched"
          class="error">
          <span *ngIf="directionForm.get('startPointControl').errors['notInList']">This name is invalid!</span>
          <span *ngIf="directionForm.get('startPointControl').errors['required']">This field is required!</span>
        </p> -->
        </div>
        <div class="error"
             *ngIf="!directionForm.get('startPointControl').valid && (directionForm.get('startPointControl').pristine || directionForm.get('startPointControl').untouched)">
          <p *ngIf="directionForm.get('startPointControl').errors.invalidMsg">
            {{directionForm.get('startPointControl').errors.invalidMsg}}</p>
        </div>
      </section>
      <!--   <span class="material-icons arrows" (click)="changeDirection()">
        sync_alt
      </span> -->

      <span class="material-icons arrows">
        double_arrow
      </span>
      <section>
        <div class="input">
          <mat-form-field class="endPoint"
                          [class.valid]="directionForm.get('endPointControl').valid && directionForm.get('endPointControl').touched"
                          [class.invalid]="directionForm.get('endPointControl').invalid && directionForm.get('endPointControl').touched">
            <input #endPointInput type="text"
                   placeholder="To" i18n-placeholder aria-label="Number" matInput formControlName="endPointControl"
                   [matAutocomplete]="auto2">
            <mat-autocomplete class="single-autocomplete" #auto2="matAutocomplete">
              <!--      <mat-autocomplete #auto2="matAutocomplete" > -->
              <mat-option [ngClass]="{'hidden': directionForm.controls.endPointControl.value.length === 0}" (click)="onEndSelectOption(end)" *ngFor="let end of endFilteredLocations | async"
                          [value]="end.name">
                {{end.name}}
              </mat-option>
              <mat-option class="everywhere" (click)="onEndSelectOption(searchEverywhereOption)" [value]="searchEverywhereOption.name">
                <img class="icon-globe" src="assets/Icons/search-result-icons/earth-americas-solid.svg">
                Can't decide? Search everywhere!
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>
          <span class="material-icons" (click)="clearEndPointControl()">
            clear
          </span>
        </div>

        <div class="error"
             *ngIf="!directionForm.get('endPointControl').valid && (directionForm.get('endPointControl').pristine || directionForm.get('endPointControl').untouched)">
          <p *ngIf="directionForm.get('endPointControl').errors.invalidMsg">
            {{directionForm.get('endPointControl').errors.invalidMsg}}</p>
        </div>
      </section>
    </div>
    <div class="actions">
      <button mat-flat-button color="accent" type="reset" i18n="Clear form@@clearform" (click)="clearForm()">Clear
        form
      </button>
      <button [disabled]="directionForm.invalid
                       || directionForm.controls.endPointControl.value === directionForm.controls.startPointControl.value"
              mat-flat-button color="primary"
              style="color: white;"
              #sBtn
              type="submit" i18n="letsgo@@letsgo">Let's go
      </button>
    </div>

  </form>
</div>

