@import "../../../cheapTripStyles/styles.scss";

* {
  margin: 0;
  padding: 0;
}

div.mainContainer {
  width: 100%;
  margin: 0 auto;
  height: auto;
  padding-bottom: 0.5rem;
  position: relative;
  p {
    width: 95%;
    margin: 1rem auto;
    text-align: center;
    font-size: 1.5rem;
    line-height: 150%;
    font-family: "Dosis", sans-serif;
    color: $base-dark;
  }
  form {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    div.formInfo {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      mat-form-field {
        width: 45%;
        @include borderRad(5px);
        @include boxSizing(border-box);
        border-left: 3px solid $base-dark;
        padding: 5px;
        input {
          @include placeholder($base-dark, 1rem, normal, cursive);
        }
      }
      span {
        color: $base-dark;
      }
    }
    div.actions {
      margin: 0.5rem auto;
      display: flex;
      flex-direction: row;
      button {
        margin: 0 2rem;
        padding: 0 1rem;
      }
    }
  }
}

@include desktop {
  div.mainContainer {
    width: 80%;
    margin: 2rem auto;
    p {
      font-size: 2rem;
      margin: 3rem auto;
      line-height: 200%;
      font-weight: bold;
    }
    form {
      div.formInfo {
        mat-form-field {
          input {
          }
        }
        span {
        }
      }
      div.actions {
        margin: 3rem auto;
        button {
          margin: 0 2rem;
          padding: 0 1rem;
        }
      }
    }
  }

  div.deliveryMode {
    margin: 0.5rem auto;
    p {
      margin: 1rem auto;
    }
    form {
      div.actions {
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  div.searchMode {
    margin: 0 auto;
    width: 90%;

    p {
      box-sizing: border-box;
      width: 95%;
      margin: 2rem auto;
      text-align: center;
      font-size: 1.5rem;
      line-height: 150%;
    }
    form {
      width: 100%;
      flex-direction: column;
      div.formInfo {
        flex-direction: column;
        height: auto;
        flex-direction: column;
        mat-form-field {
          width: 95%;
          margin: auto;
        }
        span {
          width: 1.5rem;
          align-self: center;
          justify-self: baseline;
          text-align: center;
          transform: rotate(90deg);
        }
      }
    }
  }

  div.deliveryMode {
  // border-bottom: 5px solid grey;
    width: 90%;
    margin: 0 auto;
    p {
      display: none;
    }
    form {
      flex-direction: column;
      div.actions {
        margin: 0;
      }
      div.formInfo {
        width: 98%;
        margin: 0.5rem auto 0;
        position: relative;

        mat-form-field {
          width: 190px !important;
          position: relative;
          border-left: none;
        }
        span {
          font-size: 0.9rem;
          position: absolute;
          top: 20px;
          left: calc(50vw -2rem);
          z-index: 10;
          color: $base-dark;
        }
      }
    }
  }
}

@include smallphones {
  div.searchMode {
    p {
      box-sizing: border-box;
      width: 95%;
      margin: 0.5rem auto;
      text-align: center;
      font-size: 1.3rem;
      line-height: 150%;
    }
    form {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      div.formInfo {
        height: auto;
        flex-direction: column;
        mat-form-field {
          width: 100%;
          margin: auto;
        }
        span {
          width: 1.5rem;
          align-self: center;
          justify-self: baseline;
          text-align: center;
          transform: rotate(90deg);
        }
      }

      div.actions {
        margin-top: 0;
      }
    }
  }

  div.deliveryMode {
 //   border-bottom: 5px solid grey;
    p {
      display: none;
    }
    form {
      flex-direction: column;
      div.actions {
        margin: 0;
      }
      div.formInfo {
        width:100%;
        margin: 0.5rem auto 0;
        position: relative;

        mat-form-field {
          width: 170px !important;
          position: relative;
          border-left: none;
        }
        span {
          font-size: 0.9rem;
          position: absolute;
          top: 20px;
       left: calc(50vw - 2rem);
          z-index: 10;
          color: $base-dark;
        }
      }
    }
  }
}
