* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.gallery {
    border-radius: 2%;
    background: #fceabb;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f8b500, #fceabb);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f8b500, #fceabb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;}

.gallery img {
    width: 500px;
    margin: 60px;
    height: 400px;
}