/*==========================================common====================================================*/
.body {
overflow-x: hidden;
}

p {
    text-align: justify;
    text-indent: 2em;
    font-size: 1.1rem;
}

img {
    border-radius: 20px;
}

/*==========================================header====================================================*/

.header {
    background-color: #ff5722;
}

.headline {
    display: flex;
    align-items: center;
    height: 65px;
}

.headline__logo {
    font-style: italic;
    font-weight: bold;
    color: #fff;
    font-size: 3.5rem;
}

.headline__slogan {
    margin-left: 80px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
    margin-top: 5px;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
}

/*==========================================main button====================================================*/

.section-btn {
    text-align: center;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.action-btn {
    color: #ff5722;
    padding: 7px;
    border: #ff5722 solid 2px;
    border-radius: 15px;
    margin: 2px 2px;
}

.action-btn:hover {
    color: white;
    background-color: #ff5722;
}

.budget-btn {
    padding: 7px;
    border: #ff5722 solid 2px;
    border-radius: 15px;
    background-color: #ff5722;
    margin: 2px 2px;
    color: white;
}

.budget-btn:hover {
    color: white;
}

.action-btn-active {
    color: #ffffff;
    padding: 7px;
    border: #ff5722 solid 1px;
    border-radius: 15px;
    background-color: #ff5722;
    font-size: 1.3rem;
}

.action-btn-active:hover {
    color: white;
}
/*==========================================city + description====================================================*/

.flex-container {
    margin: 20px;
    text-align: center;
}

.section-title {
    color: #000;
    font-size: 3rem;
    text-align: center;
}


@media (max-width: 320px) and (max-height: 568px) {
    .section-title {
      font-size: 1.5rem; 
    }
  }

  @media only screen and (max-width: 375px) and (max-height: 667px) {
    .section-title {
        font-size: 1.5rem; 
    }
}

@media only screen and (max-width: 375px) and (max-height: 667px) {
.city-details-main {
    color: #000;
    text-align: center;
    font-size: 0.8rem;
    text-indent: 0;
}
}

.city-details-main {
    color: #000;
    text-align: center;
    font-size: 1.2rem;
    text-indent: 0;
}

.city-carousel {
    width: 100%;
}

.city-item__image {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.city-item__image {
    width: 100%;
}

.city-item__name {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    transition: background-color 0.3s ease;
}

.city-item__name:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

/*=============================================MEDIA-710=========================================================*/

@media screen and (max-width: 710px) {
    .headline {
        height: 50px;
    }

    .headline__logo {
        font-size: 2rem;
    }

    .headline__slogan {
        font-size: 1.2rem;
        letter-spacing: normal;
        margin-left: 10px;
    }

    .section-btn .action-btn:first-child,
    .section-btn .action-btn:nth-child(2) {
        padding: 8px;
        font-size: 14px;
    }
}

/*==========================================city list====================================================*/

.city-list-container {
   
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.city-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .city-list li {
    display: inline-block;
    margin: 2px;
  }

.city-list li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px 10px;
    border: 2px solid #ff5722;
    border-radius: 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.city-list li a:hover {
    color: #fff;
    background-color: #ff5722;
}

/*==========================================carousel====================================================*/

@media screen and (max-width: 320px) {
    .city-carousel .item {
      width: 55%; 
      height: auto;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 321px) and (max-width: 375px) {
    .city-carousel .item {
      width: 55%; 
      height: auto;
      margin: 0 auto;
    }
  }

@media screen and (max-width: 700px) {
    .city-carousel .item {
      width: 115%; 
      height: auto;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 701px) {
    .city-carousel {
      width: 35%; 
      height: auto;
      margin: 0 auto;
    }
  }

@media screen and (max-width: 767px) {
    .city-carousel .item {
      width: 90%; /
      
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .city-carousel .item {
      width: 70%; 
      height: auto;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .city-carousel .item {
      width: 70%; 
      height: auto;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 1200px) and (max-width: 1365px) {
    .city-carousel .item {
      width: 50%; 
      height: auto;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 1366px) and (max-width: 1440px) {
    .city-carousel .item {
      width: 55%; 
      height: auto;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 1441px) and (max-width: 1600px) {
    .city-carousel .item {
      width: 60%; 
      height: auto;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 1601px) {
    .city-carousel .item {
      width: 65%; 
      height: auto;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .city-carousel .item {
      width: 80%; 
      height: auto;
      margin: 0 auto;
    }
  }
  
  

  .owl-carousel .owl-stage-outer {
    padding: 0;
  }
  
  .owl-carousel .owl-stage {
    display: flex;
    align-items: center;
  }
  
  .owl-carousel .owl-item {
    flex-basis: auto;
    width: auto;
  }
  
  .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    background: none;
    color: #ff5722;
    font-size: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .owl-carousel .owl-nav button.owl-prev:hover,
  .owl-carousel .owl-nav button.owl-next:hover {
    color: #ff5722;
  }
  
  .owl-carousel .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .owl-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .owl-carousel .owl-dots .owl-dot.active {
    background-color: #ff5722;
  }
  
  .city-buttons {
    display: flex;
    justify-content: center;
  }
  
  .city-button {
    background-color: #ff5722;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    text-decoration: none;
  }
  
@media screen and (max-width: 710px) {
    .headline {
        height: 50px;
    }

    .headline__logo {
        font-size: 2rem;
    }

    .headline__slogan {
        font-size: 1.2rem;
        letter-spacing: normal;
        margin-left: 10px;
    }

  /*==========================================city list====================================================*/

.alphabet-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.alphabet-list-link {
    flex-grow: 1;
    /*width: calc(100% / 4);*/
    color: #ff5722;
    font-weight: bold;
    font-size: 1.2rem;
    border: 2px solid #ff5722;
    border-radius: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    margin: 0;
}

.alphabet-list-link:hover {
    color: #fff;
    background-color: #ff5722;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 2px solid #ff5722;
    border-radius: 10px;
    z-index: 100;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
}

.dropdown-content li a{
    color: #ff5722;
}

.dropdown-content li:hover {
    background-color: #ff5722;
}

.dropdown-content li:hover a {
    color: white;
}
}