/*==========================================common====================================================*/


p {
    text-align: justify;
  
    padding: 0 20px; 
    font-size: 1.1rem;
    color: black;
    margin-top: 15px;
  }


img {
  border-radius: 20px;
}

/*==========================================header====================================================*/

.header {
  background-color: #ff5722;
}

.headline {
  display: flex;
  align-items: center;
  height: 65px;
}

.headline__logo {
  font-style: italic;
  font-weight: bold;
  color: #fff;
  font-size: 3.5rem;
}

.headline__slogan {
  margin-left: 80px;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
  margin-top: 5px;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

/*==========================================main button====================================================*/

.section-btn {
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.action-btn {
  color: #ff5722;
  padding: 7px;
  border: #ff5722 solid 2px;
  border-radius: 15px;
  margin: 2px 2px;
}

.action-btn:hover {
  color: white;
  background-color: #ff5722;
}

.budget-btn {
  padding: 7px;
  border: #ff5722 solid 2px;
  border-radius: 15px;
  background-color: #ff5722;
  margin: 2px 2px;
  color: white;
}

.budget-btn:hover {
  color: white;
}

/*==========================================ATTRACTIONS + description====================================================*/

.flex-container {
    margin: 20px auto;
    text-align: justify;
    max-width: 800px; 
    padding: 0 20px; 
    box-sizing: border-box; 
}

.section-title {
  color: #000;
  font-size: 3rem;
  
}

.city-img-main {
  margin: 0 15px 15px 0;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .city-img-main {
    width: 30%;
  }
}

.city-details__subtitle {
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  margin-top: 15px;
}

.attractions-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*========================================buttons under description=================================================*/

.buttons {
  text-align: center;
  margin: 20px auto;
  display: block;
  justify-content: center;
  font-size: 1.3rem;
}

.buttons div {
  margin-bottom: 15px;
}

/*========================================Also check this=================================================*/

.city-details__title {
  font-weight: bold;
  color: #000;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.city-item__image {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1025px) {
  .city-item__image {
    width: 65%;
    height: auto;
    margin: 0 5px;
  }
}



.city-item__name {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 50%;
  padding: 10px;
  font-size: 26px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  transition: background-color 0.3s ease;
}

.city-item__name:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/*=============================================MEDIA-710=========================================================*/

@media screen and (max-width: 710px) {
  .headline {
    height: 50px;
  }

  .headline__logo {
    font-size: 2rem;
  }

  .headline__slogan {
    font-size: 1.2rem;
    letter-spacing: normal;
    margin-left: 10px;
  }
}

/*==========================================Updated code=============================================*/

/* Media Query for button size */
@media screen and (min-width: 768px) {
  .action-btn:first-child,
  .action-btn:nth-child(2) {
    padding: 12px;
    font-size: 18px;
  }
}

.image-container {
  display: flex;
  
  margin-top: 10px;
}

.image-container a {
  position: relative;
  text-decoration: none;
  color: #000;
  width: 45%; 
}

@media screen and (max-width: 768px) {
  .image-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .image-container a {
    width: 100%;
    margin-bottom: 15px;
  }
}


.city-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
  }
  
  .city-item {
    position: relative;
    margin: 0 10px 20px; 
    text-decoration: none;
  }
  
  .city-image {
    width: 100%;
    max-width: 250px; 
  }
  
  .city-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7); 
    color: #000;
    padding: 5px;
    text-align: center;
    margin: 0;
  }
  
  /* Media queries for responsive design */
  @media (max-width: 767px) {
    .city-container {
      flex-direction: column;
      align-items: center;
    }
  
  
    .city-image {
      max-width: 100%; 
    }
  }
  
  @media (max-width: 768px) {
    .city-image {
      max-width: 100%; 
      max-width: 250px;
    }
  }
  
  .ads {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
  }
  
  .centered-container {
    text-align: center;
  }
  