@import "~@angular/material/theming";

@include mat-core();

$ct-primary: mat-palette($mat-deep-orange);
$ct-accent: mat-palette($mat-blue, A200, A100, A400);
$ct-warn: mat-palette($mat-red);
$ct-success: mat-palette($mat-light-blue);

$ct-theme: mat-light-theme($ct-primary, $ct-accent, $ct-warn);

@include angular-material-theme($ct-theme);

$primary: map-get($ct-theme, primary);
$accent: map-get($ct-theme, accent);


:root {
  --color-primary: #{mat-color($ct-primary)};
  --color-accent: #{mat-color($ct-accent)};
  --color-warn: #{mat-color($ct-warn)};
  --color-success: #{mat-color($ct-success)};
}
