$base-blue: #0372a5d2;
$base-dark: #3F51B5;
$base-light: rgba($base-dark, 0.3);

$accent-dark:  #fa2b58d2;
$accent-light: rgba($accent-dark, 0.88);

$border-dark: rgba($base-blue, 0.88);
$grey-light:  #f5f6f759;