/*========================================header================================================*/
.header {
    background-color: #ff5722;
}

.headline {
    display: flex;
    align-items: center;
}

.headline__logo {
    font-style: italic;
    font-weight: bolder;
    color: white;
    font-size: 3.4rem;
    margin: 0 0 0 30px;
    font-family: "Roboto", sans-serif;
    width: auto;
}

.headline__slogan {
    margin-left: 140px;
    font-style: italic;
    font-weight: bolder;
    color: #fff;
    font-size: 2.1rem;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
}

/*============================================buttons==================================================*/

.section {
    min-width: 200px;
    background-color: #fff;
    text-align: center;
}

.action-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    font-size: 0.9rem;
}

.find-btn {
    border-radius: 15px;
    color: #ff5722;
    padding: 6px;
    border: #ff5722 1px solid;
}

.find-btn:hover,
.find-btn:focus {
    outline: none;
    color: #ff5722;
}

.action-btn {
    border-radius: 15px;
    border-color: transparent;
    color: white;
    background-color: #ff5722;
    padding: 6px;
    margin-left: 5px;
}
/*=========================================title===========================================*/
.section-title {
    font-size: 1.8rem;
    color: #000;
    margin: 10px;
}

.city-details {
    text-align: center;
    margin: 32px auto 0;
    max-width: 50%;
    font-size: 1.4rem;
}

.city-details__text {
    color: #000;
    text-align: center;
}

.city-carousel {
    width: 100%;
}

.city-item__image {
    width: 100px;
}

.city-item__name {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    transition: background-color 0.3s ease;
}

.city-item__name:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
