@import "../../../cheapTripStyles/styles.scss";
:host {
  position: relative;
  display: block;
}

* {
  padding: 0;
  margin: 0;
}

div {
  width: auto;
  display: flex;
  position: absolute;
  left: -5%;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  iframe {
    position: relative;
    //  border:1px solid red;
    box-sizing: border-box;
  }
}
div.desktop {
  position: relative;

  iframe {
    border-left: 2px solid grey;

    position: relative;
    top: -0.6rem;
  }
}
