@import "../../../cheapTripStyles/styles.scss";
:host {
  position: relative;
  //@extend display: block;
}

* {
  padding: 0;
  margin: 0;
}

div {
  width: 100%;

  position: relative;
  padding: 0;
  margin: 0;
  iframe {
    position: relative;
    left: -10%;
    box-sizing: border-box;
  }
}

div.desktop {
 border-left: 3px solid grey;
  iframe {
    position: relative;
    left: 0;
    top: -0.6rem;
  }
}
