body {
  background-color: rgb(224, 226, 225);
}

mat-toolbar {
  justify-content: space-between;
  position: fixed;
  background-color: rgb(224, 226, 225);
  font-size: 90%;
  transition: background-color 1s, color 1s;
  div {
    button {
      font-size: 90%;
    }
  }
  div.logo {
    position: relative;
    img {
      position: absolute;
      transform: scale(0.5);
      top: -1.5rem;
    }
  }
}

mat-toolbar.dark {
  background-color: black;
  color: rgb(224, 226, 225);
  transition: background-color 1s, color 1s;

  div.buttons {
    button.start {
      color: black;
      background-color: rgb(224, 226, 225);
      transition: background-color 1s, color 1s;
      outline: white 1px solid;
    }
  }
}

button.start {
  color: white;
  background-color: black;
  border-radius: 0%;
  padding-left: 2rem;
  padding-right: 2rem;
  outline: white 1px solid;
  transition: background-color 1s, color 1s;
}

div.screen {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: rgb(224, 226, 225);
  justify-content: space-between;
  align-items: center;
  div.message {
    width: 35%;
    height: auto;
    div {
      width: 60%;
      margin: auto;
      position: relative;
      top: 100px;
      h1 {
        font-size: 1.9em;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 600;
      }
      p {
        font-size: 0.9em;
        padding: 0;
      }
      p:last-of-type {
        margin-top: 0px;
        margin-top: -10px;
      }
    }
  }
  div.picture {
    width: 65%;
    height: auto;
  //  position: relative;

  }
}

div.screen_2 {
  flex-direction: row-reverse;
  div.message {
    color: white;
    div {
      background-color: gray;
      width: 90%;
      top: 0;
      margin: 0;
      p {
        padding: 1em;
        font-size: 0.7rem;
      }

      p:nth-child(2) {
        font-size: 1.5rem;
        padding-bottom: 20rem;
        padding-top: 0px;
      }
    }
  }
  div.picture {
    position: relative;

    img {
      position: relative;
      left: 5rem;
    }
    img.ball {
      position: absolute;
      width: 150px;
      top: 18rem;
      left: 33rem;
    }
  }
}
