<mat-toolbar [class.dark]="isDark">
  <div class="logo">
    <button mat-button> CHEAP TRIP. PAY LESS, VISIT MORE! </button>
   <!--  <img @myInsertRemoveTrigger *ngIf="!isDark" src="../../assets/images/cheapTrip.png">
    <img @myInsertRemoveTrigger *ngIf="isDark" src="../../assets/images/cheapTrip_white.png"> -->
  </div>
  <div class="menu">
    <button mat-button>PRODUCT1</button>
    <button mat-button>TEAM</button>
    <button mat-button>BLOG</button>
    <button mat-button>CUSTOMRS</button>
    <button mat-button [matMenuTriggerFor]="belowMenu">ABOUT<span class="material-icons">
        keyboard_arrow_down
      </span></button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button class="submenu" mat-menu-item>CONTACT US</button>

    </mat-menu>
  </div>
  <div class="buttons">
    <button mat-button type="button" class="btn login">LOGIN</button>
    <button mat-button type="button" class="btn start">START</button>
  </div>
</mat-toolbar>


<div class="screen screen_1">
  <div class="message">
    <div>
      <p>By combining different types of transport, you can create a route that will be cheaper than you originally
        thought.</p>
      <h1> Priceless impressions by less price!
      </h1>

      <p>Discover the cheapest way to get anywhere (Currently in Europe) combining plane, train, bus and rideshare.
      </p>
      <button mat-button type="button" class="start">START</button>
    </div>
  </div>

  <div class="picture">
    <img src="../../assets/images/computer1.png">
  </div>
</div>
<div class="screen screen_2" id="secondScreen">
  <div class="message">
    <div>
      <p>LOREM SIX ISPUM DOLOR SIT AMET</p>

      <p>"Lorem seven ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."</p>
      <p>LOREM EIGHT </p>

    </div>

  </div>
  <div class="picture"> <img src="../../assets/images/computer4.png">
    <img class="ball" src="../../assets/images/ball.png">


  </div>
</div>
