@import "../../../cheapTripStyles/mixins.scss";
span.logo {
  background-color: white;
  width: 4rem;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: bold;
  }
  span:first-child {
    color: var(--color-accent);
  }
}

a {
  color: white;
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}

@include XLarge {
  img {
    border: 2px solid rgb(255, 136, 0);
  }
}

@include Large {
  img {
  }
}

@include Medium {
  img {
  }
}

@include Small {
  img {
  }
}

@include Phones {
  img {
    margin-left: 0.5rem;
    position: relative;
    top: 0;
    left: 0;
  }
}

@include Smallphones {
  img {
    position: relative;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
  }
}

span.logo {
  font-family: "Courgette", cursive;
}
