@import "../../../cheapTripStyles/mixins.scss";

.spacer {
  flex: 1 1 auto;
}

div.test {
  p {
    font-style: italic;
    font-size: 0.9em;
    color: white;
    margin: 0%;
    line-height: 1.5rem;
    font-family: "Anton", sans-serif;
    font-style: italic;
    font-weight: lighter;
    span {
      letter-spacing: 5px;
    }
    span.red {
      color: var(--color-primary);
      font-size: 1.5em;
    }
    span.pay {
      font-size: 0.9rem;
      letter-spacing: normal;
    }
    span.tr {
      display: inline-block;
      transform: scale(-1, -1);
    }
  }
}

@include Phones {
  div.test {
    p {
      font-style: italic;
      font-size: 0.7em;
      color: white;
      margin: 0%;
      line-height: 1.5rem;
    }
  }
}

@include Smallphones {
  div.test {
    p {
      font-style: italic;
      font-size: 0.7em;
      color: white;
      margin: 0%;
      line-height: 1.5rem;
    }
  }
}
