<div>
  <mat-toolbar color="accent" role="heading">
    <!--  <span class="logo"><img src="../../../assets/images/logo.png"></span>
<span  class="logo">CHEAP TRIP</span>-->
    <div class="slogan">
      <p>CHEAP TRIP. PAY LESS, VISIT MORE!</p>


    </div>

    <span class="spacer"></span>
    <!--  <button mat-button><a routerLink="/search"> CheapTrip</a></button> -->
    <button mat-button (click)="toHomePage()"><span class="material-icons">
        home
      </span></button>
    <!--   <button mat-raised-button color="primary" (click)="onChangeTheme()">ChangeTheme</button> -->
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
