@import "../../../cheapTripStyles/mixins.scss";
span.logo {
  background-color: white;
  width: 4rem;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
   img {
    width: 3rem;
     }
}

a {
  color: white;
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}

@include XLarge {
  img {

  }
}

@include Large {
  img {
  }
}

@include Medium {
  img {
  }
}

@include Small {
  img {
    width:3rem;
  }
}

@include Phones {
  img {
    width:3rem;

  }
}

@include Smallphones {
  img {

    width: 3rem;

  }
}


