.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.city-img {
  min-width: 100%;
  margin-top: 32px;

  @media (min-width: $bp-md) {
    max-width: 50%;
    object-fit: contain;
    margin: 32px auto 0;
  }
}