$min-content: 200px;

$color-primary: #ff5722;
$color-primary-dark: #ca2f00c7;
$color-border: #cecece;
$color-placeholder: #bbb;
$color-font-main: #000;
$color-font-second: #fff;
$color-back-main: #fff;

$bp-xs: 350px;
$bp-s: 410px;
$bp-sm: 576px;
$bp-md: 768px;