<main class="pb-5">
  <section class="container section section--search">
    <form class="search-form">
      <div class="row justify-content-between search-group">
        <div class="col-12 col-md-6 mb-3 mb-md-0 search-item">
          <label for="cityfrom" class="search-item__label">Find a city</label>
          <input
            class="search-item__input"
            type="text"
            id="find_city"
            placeholder="Enter city name"
            maxlength="50"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <button
            class="action-btn mt-3"
            type="submit"
            aria-label="find most beneficial and unusual routes between cities"
          >
            Search
          </button>
        </div>
      </div>
    </form>
  </section>

  <ng-template [ngIf]="!selectedCity">
    <section class="container section">
      <h2 class="section-title">The most popular cities</h2>
      <ul class="mt-3 places">
        <li class="card card--additional" *ngFor="let city of cities">
          <picture>
            <source srcset="{{ city.imageUrlW }}" type="image/webp" />
            <source srcset="{{ city.imageUrl }}" type="image/jpeg" />
            <img
              srcset="{{ city.imageUrl }}"
              alt="{{ city.name }}"
              (click)="showCityInfo(city)"
              width="375"
              height="250"
              class="card-img-top places__img"
              loading="lazy"
            />
          </picture>
          <div class="card-body py-2 py-lg-3 text-center">
            <span class="card-text card-title">{{ city.name }}</span>
          </div>
        </li>
        <!-- <li class="card card--additional">
        <picture>
          <source
            srcset="../../assets/images/images_budget/london.webp 1x"
            type="image/webp"
          />
          <source
            srcset="../../assets/images/images_budget/london.jpg 1x"
            type="image/jpeg"
          />
          <img
            src="../../assets/images/images_budget/london.jpg"
            width="375"
            height="250"
            class="card-img-top places__img"
            alt="London"
            loading="lazy"
          />
        </picture>
        <div class="card-body py-2 py-lg-3 text-center">
          <span class="card-text card-title">London</span>
        </div>
      </li>
      <li class="card card--additional">
        <picture>
          <source
            srcset="../../assets/images/images_budget/paris.webp 1x"
            type="image/webp"
          />
          <source
            srcset="../../assets/images/images_budget/paris.jpg 1x"
            type="image/jpeg"
          />
          <img
            src="../../assets/images/images_budget/paris.jpg"
            width="375"
            height="250"
            class="card-img-top places__img"
            alt="Paris"
            loading="lazy"
          />
        </picture>
        <div class="card-body py-2 py-lg-3 text-center">
          <span class="card-text card-title">Paris</span>
        </div>
      </li>
      <li class="card card--additional">
        <picture>
          <source
            srcset="../../assets/images/images_budget/london.webp 1x"
            type="image/webp"
          />
          <source
            srcset="../../assets/images/images_budget/london.jpg 1x"
            type="image/jpeg"
          />
          <img
            src="../../assets/images/images_budget/london.jpg"
            width="375"
            height="250"
            class="card-img-top places__img"
            alt="London"
            loading="lazy"
          />
        </picture>
        <div class="card-body py-2 py-lg-3 text-center">
          <span class="card-text card-title">London</span>
        </div>
      </li> -->
      </ul>
    </section>
  </ng-template>
  <!-- <ng-template [ngIf]="!selectedCity">
    <section class="container section">
      <h2 class="section-title">The most popular countries</h2>
      <div class="card card--additional mt-3">
        <div class="gallery">
          <picture class="gallery__item">
            <source
              srcset="assets/images/images_budget/london.webp 1x"
              type="image/webp"
            />
            <source
              srcset="assets/images/images_budget/london.jpg 1x"
              type="image/jpeg"
            />
            <img
              src="assets/images/images_budget/london.jpg"
              width="375"
              height="250"
              class="gallery__img"
              alt="Great Britain"
              loading="lazy"
            />
          </picture>
          <picture class="gallery__item">
            <source
              srcset="assets/images/images_budget/london1.webp 1x"
              type="image/webp"
            />
            <source
              srcset="assets/images/images_budget/london1.jpg 1x"
              type="image/jpeg"
            />
            <img
              src="assets/images/images_budget/london1.jpg"
              width="375"
              height="299"
              class="gallery__img"
              alt="Great Britain"
              loading="lazy"
            />
          </picture>
          <picture class="gallery__item">
            <source
              srcset="assets/images/images_budget/london.webp 1x"
              type="image/webp"
            />
            <source
              srcset="assets/images/images_budget/london.jpg 1x"
              type="image/jpeg"
            />
            <img
              src="assets/images/images_budget/london.jpg"
              width="375"
              height="250"
              class="gallery__img"
              alt="Great Britain"
              loading="lazy"
            />
          </picture>
          <picture class="gallery__item">
            <source
              srcset="assets/images/images_budget/london1.webp 1x"
              type="image/webp"
            />
            <source
              srcset="assets/images/images_budget/london1.jpg 1x"
              type="image/jpeg"
            />
            <img
              src="assets/images/images_budget/london1.jpg"
              width="375"
              height="299"
              class="gallery__img"
              alt="Great Britain"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="card-body py-2 py-lg-3 text-center">
          <span class="card-text card-title">Great Britain</span>
        </div>
      </div>
    </section>
  </ng-template> -->
  <div *ngIf="selectedCity">
    <main class="pb-5">
      <div class="img-container">
        <img src="{{ selectedCity.imageUrl }}" alt="City" class="city-img" />
      </div>

      <section class="container section">
        <h2 class="section-title">{{ selectedCity.name }}</h2>
        <div class="city-details">
          <h3 class="city-details__title">Description</h3>
          <p class="city-details__text">
            {{ selectedCity.description }}
          </p>
          <h3 class="city-details__title">Fun facts</h3>
          <ul
            class="city-details__list"
            *ngFor="let fact of selectedCity.facts"
          >
            <li class="city-details__li">
              {{ fact }}
            </li>
            <!-- <li class="city-details__li">France Is Smaller Than Texas.</li>
            <li class="city-details__li">France Has the Largest Art Museum.</li>
            <li class="city-details__li">
              The French Eat 25,000 Tons of Snails Each Year.
            </li> -->
            <!-- <li class="city-details__li">
              France Produces Over 1,500 Types of Cheese.
            </li>
            <li class="city-details__li">
              Supermarkets in France Can't Throw Away Food.
            </li> -->
          </ul>
          <a href="#" class="city-details__button">Find routes</a>
        </div>

        <div>
          <h3 class="city-details__title">Also check this</h3>
          <ul class="mt-3 places">
            <li class="card card--additional" *ngFor="let city of cities">
              <picture>
                <source srcset="{{ city.imageUrlW }} 1x" type="image/webp" />
                <source srcset="{{ city.imageUrl }} 1x" type="image/jpeg" />
                <img
                  srcset="{{ city.imageUrl }}"
                  alt="{{ city.name }}"
                  (click)="showCityInfo(city)"
                  width="375"
                  height="250"
                  class="card-img-top places__img"
                  loading="lazy"
                />
              </picture>
              <div class="card-body py-2 py-lg-3 text-center">
                <span class="card-text card-title">{{ city.name }}</span>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
    ></script>
  </div>
</main>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
></script>
