<app-select-city (cityDetect)="onCityDetect($event)"></app-select-city>
<main class="pb-5">
  <!-- <section class="container section section--search">
    <form class="search-form">
      <div class="row justify-content-between search-group">
        <div class="col-12 col-md-6 mb-3 mb-md-0 search-item">
          <label for="cityfrom" class="search-item__label">Find a city</label>
          <input
            class="search-item__input"
            type="text"
            id="find_city"
            placeholder="Enter city name"
            maxlength="50"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <button
            class="action-btn mt-3"
            type="submit"
            aria-label="find most beneficial and unusual routes between cities"
          >
            Search
          </button>
        </div>
      </div>
    </form>
  </section> -->
  <!-- <div>------{{ cityData | json }}--------</div> -->
  <ng-template [ngIf]="cityData">
    <div class="flex-container">
      <div class="img-container">
        <img
          src="{{ cityData.content.city.images[0] | json }}"
          alt="City"
          class="city-img"
        />
      </div>

      <section class="container section">
        <h2 class="section-title">{{ cityEndPoint }}</h2>
        <p class="city-details__text">
          {{ cityData.content.city.description | json }}
        </p>
      </section>
    </div>
    <div class="flex-container flex-container-reverse">
      <div class="img-container">
        <img
          src="{{ cityData.content.city.images[1] | json }}"
          alt="City"
          class="city-img"
        />
      </div>

      <section class="container section">
        <h3 class="city-details__title">Attractions</h3>
        <p class="city-details__text">
          {{ cityData.content.attractions.description | json }}
        </p>
        <ul class="city-details__list">
          <li
            class="city-details__li"
            *ngFor="
              let option of cityData.content.attractions.options | slice : 0 : 2
            "
          >
            <span class="city-details__subtitle">{{ option.name | json }}</span>
            <p class="city-details__li-text">
              {{ option.description | json }}
            </p>
            <a
              class="city-details__map-view"
              href="{{ option.location | json }}"
              >View on map</a
            >
          </li>
        </ul>
      </section>
    </div>
    <div class="flex-container">
      <div class="img-container">
        <img
          src="https://images.pexels.com/photos/234315/pexels-photo-234315.jpeg?auto=compress&cs=tinysrgb&h=650&w=940"
          alt="City"
          class="city-img"
        />
      </div>
      <section class="container section">
        <h3 class="city-details__title">Routes</h3>
        <p class="city-details__text">
          Looking to explore Europe on a budget? Start your adventure by
          travelling from Berlin to some of the most captivating cities on the
          continent! Check out our list of the most popular routes from Berlin
          to other attractive destinations, perfect for every budget traveller.
          Marvel at the stunning architecture of Prague, delve into the historic
          streets of Warsaw, and soak up the vibrant atmosphere of Budapest.
          From the glittering canals of Amsterdam to the sparkling beaches of
          Barcelona, discover the best European destinations without breaking
          the bank. Let your journey begin!
        </p>
        <ul class="city-details__list">
          <li class="city-details__li">
            <span class="city-details__subtitle">Amsterdam</span>
            <p class="city-details__li-text">
              Amsterdam is the perfect destination for budget travelers looking
              to experience culture, history and a vibrant nightlife. With
              affordable flights available throughout the year, exploring the
              city's famous museums, parks and canals won't break the bank. Take
              advantage of the many free walking tours and budget-friendly
              eateries to make the most of your Amsterdam adventure.
            </p>
            <a
              class="city-details__map-view"
              href="https://cheaptrip.guru/en-US/#/search/myPath?from=Berlin&fromID=124&to=Amsterdam&toID=111"
              >See the route</a
            >
          </li>
          <li class="city-details__li">
            <span class="city-details__subtitle">Prague</span>
            <p class="city-details__li-text">
              Prague is a top pick for budget-conscious travelers with its
              affordable prices for accommodation, food and drink. This charming
              city boasts a rich history, stunning Gothic architecture and a
              vibrant nightlife scene. Flights to Prague can be found at great
              prices throughout the year, with even more savings available
              during the off-season.
            </p>
            <a
              class="city-details__map-view"
              href="https://cheaptrip.guru/en-US/#/search/myPath?from=Berlin&fromID=124&to=Prague&toID=297"
              >See the route</a
            >
          </li>
        </ul>
        <a href="#" class="city-details__button">Booking.com</a>
        <a
          href="https://www.hostelworld.com/?source=affiliate-PHG-1101lmmsq&affiliate=PHG&ref_id=1101lwISQRVm"
          class="city-details__button"
          >Hostelworld</a
        >
      </section>
    </div>
  </ng-template>

  <ng-template [ngIf]="!selectedCity">
    <section class="container section">
      <h2 class="section-title">The most popular cities</h2>
      <ul class="mt-3 places">
        <li class="card card--additional" *ngFor="let city of cities">
          <picture>
            <source srcset="{{ city.imageUrlW }}" type="image/webp" />
            <source srcset="{{ city.imageUrl }}" type="image/jpeg" />
            <img
              srcset="{{ city.imageUrl }}"
              alt="{{ city.name }}"
              (click)="showCityInfo(city)"
              width="375"
              height="250"
              class="card-img-top places__img"
              loading="lazy"
            />
          </picture>
          <div class="card-body py-2 py-lg-3 text-center">
            <span class="card-text card-title">{{ city.name }}</span>
          </div>
        </li>
        <!-- <li class="card card--additional">
        <picture>
          <source
            srcset="../../assets/images/images_budget/london.webp 1x"
            type="image/webp"
          />
          <source
            srcset="../../assets/images/images_budget/london.jpg 1x"
            type="image/jpeg"
          />
          <img
            src="../../assets/images/images_budget/london.jpg"
            width="375"
            height="250"
            class="card-img-top places__img"
            alt="London"
            loading="lazy"
          />
        </picture>
        <div class="card-body py-2 py-lg-3 text-center">
          <span class="card-text card-title">London</span>
        </div>
      </li>
      <li class="card card--additional">
        <picture>
          <source
            srcset="../../assets/images/images_budget/paris.webp 1x"
            type="image/webp"
          />
          <source
            srcset="../../assets/images/images_budget/paris.jpg 1x"
            type="image/jpeg"
          />
          <img
            src="../../assets/images/images_budget/paris.jpg"
            width="375"
            height="250"
            class="card-img-top places__img"
            alt="Paris"
            loading="lazy"
          />
        </picture>
        <div class="card-body py-2 py-lg-3 text-center">
          <span class="card-text card-title">Paris</span>
        </div>
      </li>
      <li class="card card--additional">
        <picture>
          <source
            srcset="../../assets/images/images_budget/london.webp 1x"
            type="image/webp"
          />
          <source
            srcset="../../assets/images/images_budget/london.jpg 1x"
            type="image/jpeg"
          />
          <img
            src="../../assets/images/images_budget/london.jpg"
            width="375"
            height="250"
            class="card-img-top places__img"
            alt="London"
            loading="lazy"
          />
        </picture>
        <div class="card-body py-2 py-lg-3 text-center">
          <span class="card-text card-title">London</span>
        </div>
      </li> -->
      </ul>
    </section>
  </ng-template>
  <!-- <ng-template [ngIf]="!selectedCity">
    <section class="container section">
      <h2 class="section-title">The most popular countries</h2>
      <div class="card card--additional mt-3">
        <div class="gallery">
          <picture class="gallery__item">
            <source
              srcset="assets/images/images_budget/london.webp 1x"
              type="image/webp"
            />
            <source
              srcset="assets/images/images_budget/london.jpg 1x"
              type="image/jpeg"
            />
            <img
              src="assets/images/images_budget/london.jpg"
              width="375"
              height="250"
              class="gallery__img"
              alt="Great Britain"
              loading="lazy"
            />
          </picture>
          <picture class="gallery__item">
            <source
              srcset="assets/images/images_budget/london1.webp 1x"
              type="image/webp"
            />
            <source
              srcset="assets/images/images_budget/london1.jpg 1x"
              type="image/jpeg"
            />
            <img
              src="assets/images/images_budget/london1.jpg"
              width="375"
              height="299"
              class="gallery__img"
              alt="Great Britain"
              loading="lazy"
            />
          </picture>
          <picture class="gallery__item">
            <source
              srcset="assets/images/images_budget/london.webp 1x"
              type="image/webp"
            />
            <source
              srcset="assets/images/images_budget/london.jpg 1x"
              type="image/jpeg"
            />
            <img
              src="assets/images/images_budget/london.jpg"
              width="375"
              height="250"
              class="gallery__img"
              alt="Great Britain"
              loading="lazy"
            />
          </picture>
          <picture class="gallery__item">
            <source
              srcset="assets/images/images_budget/london1.webp 1x"
              type="image/webp"
            />
            <source
              srcset="assets/images/images_budget/london1.jpg 1x"
              type="image/jpeg"
            />
            <img
              src="assets/images/images_budget/london1.jpg"
              width="375"
              height="299"
              class="gallery__img"
              alt="Great Britain"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="card-body py-2 py-lg-3 text-center">
          <span class="card-text card-title">Great Britain</span>
        </div>
      </div>
    </section>
  </ng-template> -->

  <div *ngIf="selectedCity">
    <main class="pb-5">
      <div class="img-container">
        <img src="{{ selectedCity.imageUrl }}" alt="City" class="city-img" />
      </div>

      <section class="container section">
        <h2 class="section-title">{{ selectedCity.name }}</h2>
        <div class="city-details">
          <h3 class="city-details__title">Description</h3>
          <p class="city-details__text">
            {{ selectedCity.description }}
          </p>
          <h3 class="city-details__title">Fun facts</h3>
          <ul
            class="city-details__list"
            *ngFor="let fact of selectedCity.facts"
          >
            <li class="city-details__li">
              {{ fact }}
            </li>
            <!-- <li class="city-details__li">France Is Smaller Than Texas.</li>
            <li class="city-details__li">France Has the Largest Art Museum.</li>
            <li class="city-details__li">
              The French Eat 25,000 Tons of Snails Each Year.
            </li> -->
            <!-- <li class="city-details__li">
              France Produces Over 1,500 Types of Cheese.
            </li>
            <li class="city-details__li">
              Supermarkets in France Can't Throw Away Food.
            </li> -->
          </ul>
          <a href="#" class="city-details__button">Find routes</a>
        </div>

        <div>
          <h3 class="city-details__title">Also check this</h3>
          <ul class="mt-3 places">
            <li class="card card--additional" *ngFor="let city of cities">
              <picture>
                <source srcset="{{ city.imageUrlW }} 1x" type="image/webp" />
                <source srcset="{{ city.imageUrl }} 1x" type="image/jpeg" />
                <img
                  srcset="{{ city.imageUrl }}"
                  alt="{{ city.name }}"
                  (click)="showCityInfo(city)"
                  width="375"
                  height="250"
                  class="card-img-top places__img"
                  loading="lazy"
                />
              </picture>
              <div class="card-body py-2 py-lg-3 text-center">
                <span class="card-text card-title">{{ city.name }}</span>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
    ></script>
  </div>
</main>
<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
></script>
