<!-- <app-header></app-header> -->
<!-- <ul>  language selection - disabled temporary
  <li *ngFor="let locale of localesList">
    <a href="/{{locale.code}}/">
      {{locale.label}}
    </a>
  </li>
</ul> -->

<div>
  <mat-toolbar color="primary" role="heading" style="padding: 0 0 0 0">
    <!-- <div class="slogan">
        <p i18n = "main slogan@@mainSlogan">CheapTrip. Pay less, <br> visit more!</p>
      </div> -->
    <div class="cheaptrip" i18n="@@Cheaptrip">CheapTrip</div>
    <div class="words">
      <p class="wordsUp" i18n="@@PayLess">Pay less,</p>
      <p class="wordsDown" i18n="@@VisitMore">visit more!</p>
    </div>

    <span class="spacer"></span>
    <div class="selector">
      <!-- <app-currency-selector></app-currency-selector>  -->
    </div>

    <!-- <span>
      <mat-icon class="icon" >home</mat-icon>
     </span>
     <span class="material-symbols-outlined">f845</span>
     <span class="material-icons">face</span>

     <span class="material-icons" >settings</span> -->

    <!-- <span class="spacer"></span> -->
    <!-- <button mat-button (click)="toHomePage()"></button> -->
    <!-- <button  mat-icon-button  [matMenuTriggerFor]="menu" aria-label="button with a menu">
         <mat-icon>menu</mat-icon> 
        <span class="material-icons"></span> 
        
      </button> 
      <mat-menu #menu="matMenu">  
        <button mat-menu-item [routerLink]="''">
          <mat-icon>home</mat-icon>
          <span i18n = "menu home@@menuHome">Home</span>
        </button>
        <button mat-menu-item [routerLink]="'/links'">
          <mat-icon>link icon</mat-icon>
          <span i18n = "menu links@@menuLinks">Useful links</span>
        </button>
        <button mat-menu-item [routerLink]="'/contacts'">
          <mat-icon>contacts icon</mat-icon>
          <span i18n = "menu contacts@@menuContacts">Contacts</span>
        </button>
      </mat-menu> -->
  </mat-toolbar>
</div>
<div class="nav-bar">
  <nav>
    <a routerLink="/search/myPath/logo" routerLinkActive="active"
      >Find routes</a
    >
    <a routerLink="/travel" routerLinkActive="active">Budget Travel Tips</a>
  </nav>
</div>
<router-outlet></router-outlet>
