<!-- <app-header></app-header> -->
<!-- <ul>  language selection - disabled temporary
  <li *ngFor="let locale of localesList">
    <a href="/{{locale.code}}/">
      {{locale.label}}
    </a>
  </li>
</ul> -->

<div>
  <mat-toolbar color="primary" role="heading" style="padding: 0 0 0 0">
    <!-- <div class="slogan">
        <p>CheapTrip. Pay less, <br> visit more!</p>
      </div> -->
    <div class="cheaptrip">CheapTrip</div>
    <div class="words">
      <p class="wordsUp">Pay less,</p>
      <p class="wordsDown">visit more!</p>
    </div>
    <span class="spacer"></span>
    <div class="selector">
      <app-currency-selector></app-currency-selector>
    </div>

    <!-- <span class="spacer"></span> -->
    <!-- <button mat-button (click)="toHomePage()"></button> -->
    <!-- <button  mat-icon-button  [matMenuTriggerFor]="menu" aria-label="button with a menu">
         <mat-icon>menu</mat-icon> 
        <span class="material-icons"></span> 
        
      </button> 
      <mat-menu #menu="matMenu">  
        <button mat-menu-item [routerLink]="''">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item [routerLink]="'/links'">
          <mat-icon>link icon</mat-icon>
          <span>Useful links</span>
        </button>
        <button mat-menu-item [routerLink]="'/contacts'">
          <mat-icon>contacts icon</mat-icon>
          <span>Contacts</span>
        </button>
      </mat-menu> -->
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
