<!-- <app-header></app-header> -->
<!-- <ul>  language selection - disabled temporary
  <li *ngFor="let locale of localesList">
    <a href="/{{locale.code}}/">
      {{locale.label}}
    </a>
  </li>
</ul> -->

  <div>
    <mat-toolbar class="headline" color="primary" role="heading">
      <h1 class="headline__logo" i18n="@@Cheaptrip">CheapTrip</h1>
      <h6 class="headline__slogan" i18n="@@PayLess, visit more!">Pay less, visit more!</h6>
    </mat-toolbar>
  </div>
  <div class="section-btn">
    <button class="routes-btn" disabled>
      Find cheapest routes
    </button>
    <a class="action-btn" href="https://cheaptrip.guru/budgettraveltips/index.html">
      Budget travel tips
    </a>
  </div>
  <router-outlet></router-outlet>
